#maqueta-render {
  position: fixed !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: -1;
  background: var(--grisOscuro);
  opacity: 0;
  &:activo {
    z-index: 9;
    opacity: 1;
    & + .webgl {
      z-index: 2;
    }
  }
}

#btn-cambioEscena {
  position: fixed;
  z-index: 99;
  left: 50%;
  bottom: 15px;
  transform: translateX(-50%);
  width: 40px;
  cursor: pointer;
  .escImg {
    position: relative;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 0 4px var(--blanco);
    border-radius: 100%;
    img {
      position: absolute;
    }
  }
  .escEstado {
    position: relative;
    margin: 8px auto 0;
    height: 16px;
    width: 32px;
    background: var(--blanco);
    border-radius: 24px;
    &:after {
      content: "";
      position: absolute;
      width: 8px;
      height: 8px;
      top: 4px;
      left: 4px;
      border-radius: 100%;
      background: var(--color1);
    }
  }
}

#btn-cambioEscena img:first-child,
#btn-cambioEscena.activo img:last-child {
  z-index: 2;
}

#btn-cambioEscena img:last-child,
#btn-cambioEscena.activo img:first-child {
  z-index: 3;
}

#btn-cambioEscena.activo .escEstado::after {
  right: 4px;
  left: initial;
}
