#modal-tour {
    position: fixed;
    left: 100%;
    width: 100%;
    transition: left .5s ease;
    height: 100%;
    overflow: auto;
    background: var(--gris);
    color: var(--grisOscuro);
    z-index: 101;
    top: 0;
}

#modal-tour.activo {
    left: 0;
}

.appicua-tour-wrapper, .appicua-tour {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.btn-cerrar-360 {
    position: absolute;
    top: 52px;
    right: 30px;
    z-index: 8;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    border: 2px solid var(--blanco);
    background: transparent;
    display: block;
    padding: 0;
    color: transparent !important;
    cursor: pointer;
    transition: all 500ms ease;
}

.btn-cerrar-360:before, .btn-cerrar-360:after {
    content: '';
    background: var(--blanco);
    width: 20px;
    height: 2px;
    position: absolute;
    left: 50%;
    top: 50%;
}

.btn-cerrar-360:before {
    transform: translate(-50%, -50%) rotate(45deg);
}

.btn-cerrar-360:after {
    transform: translate(-50%, -50%) rotate(-45deg);
}

.btn-cerrar-360:hover {
    background: var(--color2);
}

.btn-cerrar-360:hover:before, .btn-cerrar-360:hover:after {
    background: var(--color1);
}

#btn-tour-360 {
    display: none;
    border: 1px solid var(--color2);
    color: var(--color2);
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 100px;
    text-align: center;
    max-width: 120px;
    margin: 24px 0 0;
}

#btn-tour-360.visible {
    display: block
}